@use "../../scss/" as *;

.btn {
    font-weight: 700;
    font-size: 1.5rem;
    color: $txt-color;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1.5rem 5rem;
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow:  0 8px 8px rgba(0, 0, 0, .6);
    text-shadow: 0 8px 8px rgba(0, 0, 0, .6);

    &-main {
        background-image: linear-gradient(180deg, rgb(221, 157, 20), rgb(218, 93, 21));
        
        &:hover {
            background-image: linear-gradient(0deg, rgb(255, 0, 255), rgb(153, 0, 153));
            transition: transform 0.3s ease;
        }
    }

    &-second {
        background-image: linear-gradient(180deg, rgb(25, 180, 207), rgb(40, 57, 155));
        
        &:hover {
            background-image: linear-gradient(0deg, rgb(255, 0, 255), rgb(153, 0, 153));
            transition: transform 0.3s ease;
        }
    }
}
