.team-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  background: url('../src/assets/TeamBG.jpg') no-repeat center center;
  background-size: cover; /* Cover the entire page */
  color: #fff; /* Assuming white text for contrast */
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
  padding: 20px;
}

.team-member {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.team-member:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.team-member__image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.team-member__info {
  padding: 0;
}

.team-member__name {
  font-size: large;
  font-weight: 800;
  color: #333;
  margin-bottom: 2px;
}

.team-member__alias {
  font-size: medium;
  color: #888888;
  font-weight: 500;
  margin-bottom: 8px;
}

.team-member__role {
  font-size: 1rem;
  color: #0077B5;
  font-weight: 600;
  margin-bottom: 15px;
}

.team-member__bio {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
}

.team-member__linkedin {
  color: #0077B5;
  font-size: 36px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.team-member__linkedin:hover {
  color: #005582;
}

.swiper-button-prev {
  left: 0rem;
}

.swiper-button-next {
  right: 0rem; 
}

@media (max-width: 768px) {
  .team-grid {
    margin-top: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-height: 80vh;
    overflow-y: visible;
  }

  .team-member {
    flex-basis: 45%;
    max-width: 90%;
  }
}
