// Rename the flex mixin to customFlex
@mixin customFlex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

.welcome {
    position: relative;
    height: 100%;

    &__video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -99;
    }

    &__grid {
        margin: 0; /* Remove any default margin */
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 4px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left; /* Center-align the text */
        margin-left: 48px;
        margin-bottom: 25%;
        
    }

    .title {
        font-size: 1.25rem; /* Reduce the font size for the title */
        margin-bottom: 0.25rem; /* Reduce the margin for spacing */
        
    }

    .description {
        font-size: 1.25rem; /* Reduce the font size for the description */
        font-weight: 400;
        margin-bottom: 1rem; /* Reduce the margin for spacing */
        margin-right: 0; /* Remove right margin */

    }

    .btns {
        display: flex; /* Make buttons flex */
        flex-direction: row; /* Stack buttons vertically */
        align-items: flex-end; /* Align buttons to the left */
        gap: 12px; /* Add spacing between buttons */
    }

    .btns a {
        width: 100%; /* Make buttons take full width */
        align-items: flex-end; /* Align buttons to the left */
        text-align: left; /* Center-align button text */
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px; /* Add top margin to create space between slider and info */
        overflow: visible;
        position: relative; /* Add relative positioning to the slider container */
        z-index: -1; /* Push the slider behind the info */
    }

    #image-slider-container {
        width: 100%;
        height: auto;
        overflow: visible;
    }


    // Mobile styles
    @media (max-width: 612px) {
        &__grid {
            right: 24px;
            
        }

        .title {
            font-size: 1.2rem; /* Reduce the font size for the title */
            word-spacing: .2rem;
            margin-bottom: 12px;
            
        }

        .description {
           
            font-size: 1rem; /* Keep the font size for the description */
        }

        .btns {
            margin-top: 24px;
            gap: 12px; 
            flex-direction: column;
            text-align: center;
        }

        // Hide the image slider
        &__slider {
            display: none;
        }
    }
}