// Rename the flex mixin to customFlex
@mixin customFlex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

.welcome {
    position: relative;
    height: 100%;

    &__video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -99;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
            z-index: 1; // Ensure it's above the video but below content
        }
    }

    &__grid {
        margin: 0; /* Remove any default margin */
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 4px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left; /* Center-align the text */
        margin-left: 48px;
        margin-bottom: 25%;
    }

    .title {
        font-size: 1rem; /* Reduce the font size for the title */
        margin-bottom: 1rem; /* Reduce the margin for spacing */
    }

    .description {
        font-size: 1.25rem; /* Reduce the font size for the description */
        font-weight: 400;
        margin-bottom: 1rem; /* Reduce the margin for spacing */
        margin-right: 0; /* Remove right margin */
        font-size: 1.5rem;
    }

    
    .btns {
        display: flex;
        flex-wrap: wrap; /* Allow buttons to wrap into multiple columns */
        gap: 12px; 
        justify-content: flex-start; 
    }


    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px; /* Add top margin to create space between slider and info */
        position: relative; /* Add relative positioning to the slider container */
        z-index: -1; /* Push the slider behind the info */
    }

    #image-slider-container {
        width: 100%;
        height: auto;
    }

     // ipad styles
     @media (max-width: 1024px) {

        .welcome__info {
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: left; /* Center-align the text */
            margin-left: 48px;
            margin-top: 10rem;
            width: 85%;   
        }

        .title {
            word-spacing: .25rem;
            margin-bottom: 12px;
            span {
                font-size: 1.5rem;
                line-height: 3rem;
            }
        }

        .description {
            font-size: 1.25rem; 
        }

        &__slider {
            display: none;
        }
     }

    // Mobile styles
    @media (max-width: 612px) {

        .welcome__info {
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: center;
            margin-left: 48px;
            margin-top: 0rem;
            width: 85%;
        }

        &__grid {
            right: 24px; 
        }

        .title {
            span{
                font-size: 2rem; 
            }
        }

        .subtitle{
            font-size: 2rem; 
        }

        .description {
            font-size: 1.25rem;

        }

        .btns {
            display: flex;
            flex-wrap: wrap; /* Allow buttons to wrap into multiple columns */
            gap: 12px; 
            justify-content: flex-start; 
            flex-direction: column;
            text-align: center;
        }
    
        .btns button {
            width: 320px; /* Set a fixed width for the buttons */
            height: 80px;
            text-align: center;
        }

        // Hide the image slider
        &__slider {
            display: none;
        }
    }
}

