@use "../../../scss/" as *;
@use "sass:math";

.champion {
    overflow: visible; /* Allow children to overflow */
    
    &-list {
        height: 100%;
        object-fit: cover;
        
        .swiper-slide {
            width: 360px;
            pointer-events: visible;
            overflow: visible; /* Set overflow to visible for .swiper-slide */
            transform: translateX(200px);
            opacity: 0;
            transition: transform 0.8s ease, opacity 0.8s ease;
            transition-delay: 0s;
            align-items: center;
           bottom: 8vb;
   
        }
    }

    &.active &-list {
        .swiper-slide {
            transform: translateX(0);
            opacity: 1;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: #{math.div($i, 2)}s;
                }
            }
        }
    }
}
