@use "../../../scss/" as *;
@use "sass:math";

.champion {

    &-list {
        height: 100%;
        object-fit: cover;
        

        // Slide Styling controls
        .swiper-slide {
            width: 360px;
            transform: translateX(600px);
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.9s ease;
            transition-delay: 0.2s;
            align-items: center;
          bottom: 3vb;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            pointer-events: none;
            z-index: 1;
            overflow: hidden;
       
             &:hover .champion-card {
                transform: scale(1.05);
                transition: transform 0.5s ease-in-out; 
             }
 
           &:hover .champion-card .frame::before {
                animation-play-state: running;
               opacity: 1;
                 box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
             }
        }
    }
  .swiper-pagination-bullet {
        z-index: 2000;
    }

    &.active &-list {
        .swiper-slide {
            transform: translateX(0);
            opacity: 1;
            

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: #{math.div($i, 2)}s;
                }
            }
        }
    }
}
