@use "../../../scss/" as *;

.champion-detail {
    position: fixed;
    background-color: $black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.4s ease;

    @include flex(flex-start, flex-end); // Default layout for larger screens

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        font-size: 1.5rem;
        margin-top: 12vb;
        width: 60%;
        right: 0;
        padding: 2rem 0;
        position: relative;

        .name {
            font-size: 5rem;
            text-transform: uppercase;
        }

        .story {
            width: 80%;
            padding-left: 1rem;
            border-left: 2px solid $main-color;
            margin: 1rem 0;
        }

        .video {
            display: none; // Hide the video container
        }
    }

    .back-button {
        position: fixed; // Use fixed positioning
        bottom: 4rem; // Adjust bottom margin as needed
        left: 50%; // Center horizontally
        transform: translateX(-50%); // Move the button back by half of its width
        background-color: rgb(214, 139, 0);
        color: $white;
        padding: 12px 64px; // Adjust padding as needed
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease, transform 0.3s ease; // Add transition for background color and transform
        z-index: 400;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 1);
    
        &:hover {
            background-color: rgb(246, 170, 28);
            transform: scale(1.05)  translateX(-50%); // Scale up on hover
        }
    
        &:active {
            transform: scale(0.95) translateX(-50%); // Scale down when pressed
        }
    }
    
    
}

.champ-img-detail {
    opacity: 80%;
    }

@media screen and (max-width: 1280px) {
    .champion-detail {
        @include flex(flex-start, flex-end); // Default layout for larger screens

         &__content {
            font-size: 1.2rem;
        margin-top: 12vb;
        width: 60%;
        right: 0;
        padding: 2rem 0;
        position: relative;

        .name {
            font-size: 5rem;
            text-transform: uppercase;
        }

        .story {
            width: 80%;
            padding-left: 1rem;
            border-left: 2px solid $main-color;
            margin: 1rem 0;
        }

        .video {
            display: none; // Hide the video container
        }
    }}
    .champ-img-detail {
        margin-left: -64px;
        mix-blend-mode: screen;
    
        }

}


@media screen and (max-width: 768px) {
    .champion-detail {
        @include flex(center, center); // Center content for smaller screens

        &__content {
            text-align: center;
            width: 75%; // Adjust width for smaller screens
            height: 90%;
            font-size: 1.15rem;
            .name {
                font-size: 3rem; // Adjust font size for smaller screens
            }

            .story {
                width: 100%; // Story takes full width of content on smaller screens
            }
        }

        &__close {
            position: fixed;
        }
    }



    .champ-img-detail {
        display: none;
       // padding: 20%;
       // opacity: 0.35;
       // mix-blend-mode: screen;
        
    }
}
