/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
  /* Colors */
  --background-color: #1b1f27;
  --font-color: #ffffff;
  --accent-color: #4a90e2;
  --hover-accent-color: #3a7bd5;

  /* Typography */
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Links */
a {
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-accent-color);
}

/* Buttons */
button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--hover-accent-color);
}
button:focus {
  outline: 3px solid var(--hover-accent-color);
}
